body {
    font-family: 'Poppins', ;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}

section{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    /* gap: 30px; */
}

.half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF5959, #FF5959);
    margin: 10px 0;
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

p{
    font-size: 20px;
    font-weight: 400;
    color: #3E3E3E;
}

.line-border{
    border-left: 3px solid;
    padding-left: 15px;
    border-image: linear-gradient(#FF5959, #fff);
    border-image-slice: 1;
}

.top-banner{
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;
}

/* Team Discussion Styles Section */

.team-discussion{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}

/* community Conversation Styles Section */

.community-conversation{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
}

.mission{
    text-align: center;
}
/* 
.section-mission{
    text-align: center;
    justify-content: space-between;
} */

.target-cotainer{
    display: flex;
    gap: 30px;
}

.target{
    padding: 25px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.target-cotainer img{
    width: 60%;
    align-content: center;
}


/* Footer Styles Section */

footer {
    text-align: center;
    background-color: black;
}

.style-footer{
    color: white;
    font-family: "Black Ops One", system-ui;
}

.footer-para{
    color: azure;
}
